node_modules
coverage
.nyc_output

# compiled code
apps/view/lib
packages/builder/lib
packages/parser/lib
packages/render-svg/lib
tsconfig.tsbuildinfo

# artifacts
bundle.*
**/dist
*/**/LICENSE
**/*.tgz
