node_modules
coverage
.nyc_output

# compiled code
apps/view/lib
packages/plotter/lib
packages/parser/lib
packages/renderer/lib
tsconfig.tsbuildinfo

# artifacts
bundle.*
**/dist
*/**/LICENSE
**/*.tgz
